/*CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* Base Elements */
html {
    font-size: 16px;
    font-family: 'Quattrocento Sans', sans-serif;
}

/* Layout */
.wrapper {
    padding: 12px 77px;
}


/* Masthead */
.masthead {
    padding: 2px 0;
    position: fixed;
    background-color: #FFF;
    width: 100%;
    z-index: 1;
}

.masthead-container {
    display: flex;
    justify-content: space-between;
}

.masthead-bd {
    display: flex;
    align-items: center;
}

/* Logo */
.logo {
    width: 30px;
    margin-right: 34px;
}

.logo img {
    width: 100%;
}

/* Headings */
.hdg {
    font-family: 'Ovo', serif;
    color: #fff;
    font-weight: 300;
}

.hdg_1 {
    line-height: 64px;
    font-size: 5rem;
    position: relative;
    padding-bottom: 26px;
}

.hdg_3 {
    color: #f28500;
    font-size: 3rem;
    line-height: 46px;
    font-weight: 300;
}

.hdg_4 {
    font-size: 2.25rem;
    line-height: 46px;
}

/* Navigation */
.navigation {
    padding-left: 10px;
    padding-top: 10px;
}
.navigation ul {
    display: flex;
    list-style-type: none;
}

.navigation li {
    padding: 0 20px;
}

.navigation li a {
    display: block;
    line-height: 1.4;
    margin-bottom: 8px;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 1rem;
    text-decoration: none;
    color: #f28500;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.navigation li a:hover {
    box-shadow: inset 0 -1px 0 0 #f28500;
}

/* Buttons */
.btn {
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 0.8rem;
    padding: 12px 24px;
    border: 1px solid #f28500;
    color: #f28500;
    background-color: #fff;
    /*text-transform: uppercase;*/
    text-decoration: none;
    letter-spacing: 0.05em;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    white-space: nowrap;
}

.btn:hover {
    color: #ffffff;
    background-color: #f28500;
}

/* Hero */
.hero {
    height: 100vh;
    max-height: 960px;
    min-height: 500px;
}

.hero_main{
    background-color: #f28500;
}

.hero_alt {
    background-image: url(../img/asanoha-400px.png);
}

.hero_demi {
    height: 50vh;
    max-height: 480px;
    min-height: 250px;
    background-color: #f28500;
}

.hero-content {
    padding: 200px 0 0;
    box-sizing: border-box;
    margin: auto;
}

.hero-content_main {
    width: 50%;
}

.hero-content_alt {
    width: 70%;
    padding: 100px 0 0;
}

.hero-hd {
    text-align: center;
}

.hero-bd{
    margin: 36px 0px 0px 0px;
    font-family: 'Quattrocento Sans', sans-serif;
    line-height: 26px;
}

.hero-hd_alt {
    text-align: left;
}

.hero-bd_alt{
    
}

.hero-container {
    display: flex;
}

.description {
    color: #f28500;
    font-size: 20px;
    font-weight: 300;
    padding-left: 50px;
    font-style: italic;
}

/*Footer*/
.footer {
    background-color: #fff;
    height: 5vh;
}

/*Columns*/
.col-one-third {
    flex-grow: 1;
    width: 100px;
    height: 100px;
}

.col-two-third {
    flex-grow: 2;
    width: 60%;
    margin-right: 0px;
}

/*Tool*/

.tool {
    width: 800px;
    margin: 0 auto;
}

.textfield-container {
    margin-top: 1rem;
}

.textfield {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-image: none;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.textfield:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.explain {
    margin-bottom: 1rem;
}

.tool-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 450px;
    padding: 50px 0 0 0;
}

/* Media Breakpoints */
@media (min-width: 1172px) {
  .wrapper {
    padding: 0;
    margin: 0 auto;
    max-width: 1152px;
  }

  .hero-content {
    width: 60%;
    min-width: 544px;
  }
}

@media (min-width: 1280px){
    
}
